<section class="container-fluid">
    <header>
        <h1 class="page-header">Home</h1>
    </header>
    <div class="jumbotron">
        <h1>
            <table class="table-responsive" width="100%">
                <tr>
                    <td class="text-left">Overall Bids:</td>
                    <td class="text-right">{{ dataService.totalBids | currency }}</td>
                </tr>
                <tr>
                    <td class="text-left">Overall Payments:</td>
                    <td class="text-right">{{ dataService.totalPayments | currency }}</td>
                </tr>
            </table>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-2 text-right"><h2>Bidder ID</h2></div>
        <div class="col-md-2"><h2>Bidder Name</h2></div>
        <div class="col-md-2 col-md-offset-4 text-right"><h2>Total Won Bids</h2></div>
        <div class="col-md-2 text-right"><h2>Total Payments</h2></div>
    </div>
    <marquee behavior="scroll" scrollamount="2" direction="up" style="height: 500px">
        <div class="row" ng-repeat-start="bidderdata in dataService.biddersdata | filter:dataService.hasWinningBids | orderBy:'bidder.id'">
            <div class="col-md-2 text-right"><h2>{{ bidderdata.bidder.id }}</h2></div>
            <div class="col-md-2"><h2>{{ bidderdata.bidder.name }}</h2></div>
            <div class="col-md-2 col-md-offset-4 text-right"><h2>{{ dataService.winningBidsTotal(bidderdata) | currency }}</h2></div>
            <div class="col-md-2 text-right"><h2>{{ dataService.paymentTotal(bidderdata) | currency }}</h2></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-4">
                <div class="row" ng-repeat="bid in bidderdata.winningBids | orderBy:'item.itemNumber'">
                    <div class="col-md-2"><h3>{{bid.item.itemNumber}}</h3></div>
                    <div class="col-md-7"><h3>{{bid.item.description}} ({{bid.item.donor}})</h3></div>
                    <div class="col-md-3 text-right"><h3>{{bid.amount | currency}}</h3></div>
                </div>
            </div>
        </div>
        <div class="row" ng-repeat-end>
            <hr>
        </div>
    </marquee>
</section>
