@(biddersData: Map[Bidder, (BigDecimal, BigDecimal, List[Payment])], bidderForm: Form[String])
@import helper._
@import misc.Util
@layout("Bidders") {
    <div class="container">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Bidder #</th>
                        <th>Name</th>
                        <th>Owes</th>
                        <th>Total Bids Won</th>
                        <th>Payments</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @for(bidder <- biddersData.keySet.toList.sortBy(_.name)) {
                    @defining(biddersData.get(bidder).get) { bidderData =>
                    <tr>
                    @form(routes.BidderController.deleteBidder(bidder.id.get)) {
                        <td class="text-right">@bidder.id.get</td>
                        <td>@bidder.name</td>
                        <td class="text-right">@Util.formatMoney(bidderData._1)</td>
                        <td class="text-right">@Util.formatMoney(bidderData._2)</td>
                        <td>@bidderData._3.mkString(", ")</td>
                        <td>@if(bidderData._3.isEmpty && bidderData._1 == BigDecimal(0.0)) {
                            <button type="submit" class="btn btn-danger">Delete</button>
                        }
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                    Dropdown
                                    <span class="carat">>>></span>
                                </button>
                                @form(routes.PaymentController.newPayment(bidder.id.get)) {
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><input type="text" class="form-control" name="description" value="Payment Description"></li>
                                    <li role="presentation"><input type="text" class="form-control" name="amount" value="0.00"></li>
                                    <li role="presentation"><button type="submit" class="btn btn-success">Add Payment</button></li>
                                </ul>
                                }
                            </div>
                        </td>
                    }
                    }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    @form(routes.BidderController.newBidder) {
        <table class="table">
            <tr>
                <td>@inputText(bidderForm("name"), 'size -> 15)</td>
            </tr>
            <tr>
                <td><button type="submit"><i class="icon-plus-sign">Add</i></button></td>
            </tr>
        </table>
    }
    </div>
}
