@()
<!DOCTYPE html>
<html>
    <head>
        <title ng-bind="pageTitle"></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/app.css")">
    </head>
    <body>
        @*-- Navbar -- *@
        <nav class="navbar navbar-inverse basics-nav" role="navigation" ng-controller="HeaderCtrl">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#/" class="navbar-brand">
                        <img src="@routes.Assets.at("images/msfw.png")" class="img-thumbnail" height="50" width="50" alt="MSFW logo" />
                        MSFW Auction 2014
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#/bidders">Bidders</a></li>
                        <li><a href="#/items">Items</a></li>
                        <li><a href="#/bidentry">Bid Entry</a></li>
                        <li><a href="#/reconciliation">Reconciliation</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        @* -- Main Content -- *@
        <main>
            <div ng-view></div>
        </main>
        @*-- Footer -- *@
        <footer ng-controller="FooterCtrl" style="position: relative; bottom: 0;">
            <div ng-class="statusService.message.status" role="alert">{{ statusService.message.text }}</div>
        </footer>
        @Html(org.webjars.play.RequireJS.setup("javascripts/app.js"))
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))"></script>
    </body>
</html>
