@(biddersData: Map[Bidder, (BigDecimal, BigDecimal, List[Payment])], paymentForm: Form[(Long, String, BigDecimal)])
@import helper._
@layout("Payments") {
    <table class="table-bordered">
        <thead>
            <tr>
                <th>Bidder #</th>
                <th>Name</th>
                <th>Description</th>
                <th>Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @biddersData.keySet.toList.sortBy(_.name).map { bidder =>
            <tr>
                @form(routes.PaymentController.newPayment(bidder.id.get)) {
                    <td class="text-right">@bidder.id.get</td>
                    <td>@bidder.name</td>
                    <td>@inputText(paymentForm("description"))</td>
                    <td>@inputText(paymentForm("amount"))</td>
                    <td><button type="submit"><i class="icon-plus-sign">Add</i></button></td>
                }
            </tr>
        }
        </tbody>
    </table>
}
