html, body {
  height: 100%;
  overflow: hidden;
}

@link-color: #e3ffc7;

.basics-nav {
  background-color: darkgreen;
  .navbar-brand {
    color: @link-color;
  }
  .navbar-nav {
    li a {
      color: @link-color;
    }
    .dropdown-menu {
      a {
        color: #000;
      }
    }
  }
}

.app-form {
  input.ng-dirty.ng-invalid {
    background: lightpink;
  }

  input.ng-dirty.ng-valid {
    background: lightgreen;
  }
}

@media (min-width: 768px){
  #pagesearch {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-y: scroll;
  }
  #pagedetails {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-y: scroll;
  }
}

#pagesearch {
  height: 100%;
}

#pagedetails {
  height: 100%;
}

#main-header, #main-footer {
  display: block;
  height: 5%;
}

#main-section {
  height: 90%;
  overflow-y: auto;
}

.scrollable {
  overflow: scroll;
}

/* AngularJS */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

